<%= @flat.picture_url %>
<h1><%= @flat.name %></h1>
<p class="flat-show-address"><%= @flat.address %></p>
<h3>A bit more about this flat...</h3>
<p><%= @flat.description %></p>
<%= @flat.address %>
<%= @flat.number_of_guests %>
<%= @flat.price_per_night %>

<%= link_to 'Edit', edit_flat_path(@flat) %>
<%= link_to 'Delete', flat_path(@flat), method: :delete, data: { confirm: "Are you sure?" } %>
